body{
    background-color: rgba(128, 128, 128, 0.171);
}

#idHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloH1{
    color: rgb(80, 90, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tituloH2{
    margin-top: 40px;
    color: rgb(80, 90, 233);
}

#loginSection{
    display: flex;
    align-items: center;
    justify-content: center;
}


#loginFieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    border: none;
    -webkit-box-shadow: -1px 0px 23px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 0px 23px -3px rgba(0,0,0,0.55);
    box-shadow: -1px 0px 23px -3px rgba(0,0,0,0.55);
    background-color: white;
    margin-top: 60px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.inputClass{
    height: 22px;
    border: solid 2px ;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.336);
}

.labelClass{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    color: rgba(128, 128, 128, 0.829);
}

#submitButton{
    width: 90px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgb(80, 90, 233);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}